{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Details de la session :<br> {{ session.nomSession }}! </h1>

    <p>Debut de la formation {{ session.dateDebut |date("d/m/Y") }}</p>
    <p>Fin de la formation{{ session.dateFin |date("d/m/Y") }}</p>
    <table>
        <tr>
            <th>Module</th>
            <th>Nombres de jours</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>
{% endblock %}
